# -----------------------------
# Local files
# -----------------------------
/local_data/
backend/media/
TODO
/.vscode/

# -----------------------------
# Python
# -----------------------------
*.pyc
__pycache__/
*.py[cod]
*$py.class
.python-version

# -----------------------------
# Env files
# -----------------------------
*.env

# -----------------------------
# Django
# -----------------------------
*.log
*.pot
*.pyc

# -----------------------------
# Node.js
# -----------------------------
/node_modules/
