[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
channels = "*"
psycopg2-binary = "*"
qdrant-client = "*"
python-dotenv = "*"
requests = "*"
celery = {extras = ["redis"], version = "*"}
pymupdf = "*"

[dev-packages]

[requires]
python_version = "3.10"
